.about {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: 55px;
    margin: 80px 170px;
    text-align: right;
}

.about-title {
    position: relative;
}

.about-title h1 {
    padding: 0px 30px;
    font-size: 70px;
    font-weight: 500;
    color: #ff1d61;
    text-align: right;
    margin-bottom: 2px;
}

.about-sections {
    display: flex;
    gap: 80px;
    justify-content: flex-end;
}

.about-left {
    /* Optional styling if you add an image */
}

.about-right {
    display: flex;
    flex-direction: column;
    gap: 60px;
    align-items: flex-end;
}

/* Updated bullet-style skill format */
.about-para {
    display: flex;
    flex-direction: column;
    gap: 13px;
    font-size: 22px;
    font-weight: 400;
    text-align: right;
    line-height: 1.6;
    margin-top: 0px;
}

.about-para p::before {
    /* content: "⚡ "; */
    margin-left: 6px;
    color: #25DA76;
    font-weight: 600;
}

.about-para strong {
    color: #ff1d61;
    font-weight: 600;
}

@media(max-width: 768px) {
    .about {
        margin: 50px 70px;
        align-items: flex-end;
        text-align: right;
    }

    .about-title h1 {
        font-size: 50px;
        padding: 0;
    }

    .about-sections {
        flex-direction: column;
        align-items: flex-end;
    }

    .about-left {
        display: none;
    }

    .about-para {
        font-size: 18px;
        line-height: 1.6;
        text-align: right;
    }
}
