.footer {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: var(--background-color);
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid var(--border-color);
}

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-top-left p {
    font-size: 15px;
    color: var(--text-color);
    font-weight: 500;
}

.footer-top-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.footer-email-input {
    display: flex;
    gap: 12px;
    padding: 10px 12px;
    border-radius: 12px;
    background: var(--card-background);
    border: 1px solid var(--border-color);
}

.footer-email-input input {
    outline: none;
    border: none;
    background: var(--card-background);
    color: var(--text-color);
    font-family: var(--font-primary);
    font-size: 15px;
    font-weight: 500;
}

.footer-subscribe {
    font-size: 14px;
    padding: 10px 14px;
    border-radius: 10px;
    background: var(--card-background);
    color: var(--text-color);
    cursor: pointer;
    transition: 0.2s ease;
    border: 1px solid var(--border-color);
    font-weight: 700;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    color: var(--text-color);
    margin-top: 10px;
    font-weight: 500;
}

.footer-bottom-left {
    color: var(--text-color);
}

.footer-bottom-right {
    display: flex;
    gap: 30px;
}

.footer-email-input:hover {
    border: 1px solid var(--text-color);
}

.footer-subscribe:hover {
    transform: translateY(-2px);
    background: var(--hover-color);
    box-shadow: 0 0 0 4px rgba(255,255,255,0.15);
}

hr {
    border: none;
    height: 1px;
    background-color: var(--border-color);
    margin: 10px 0;
}

.footer-top-left p, .footer-bottom, .footer-email-input input, .footer-subscribe {
    font-size: 12px;
}

@media(max-width: 768px) {
    .footer {
        width: 100%;
    }
    
    .footer-top {
        flex-direction: column;
        gap: 20px;
        text-align: center;
    }
    
    .footer-bottom {
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }
    
    .footer-bottom-right {
        flex-direction: column;
        gap: 15px;
    }
    
    .footer-email-input {
        width: 100%;
        justify-content: center;
    }
    
    .footer-top-left p, .footer-bottom, .footer-email-input input, .footer-subscribe {
        font-size: 13px;
    }
}