.footer {
    margin: 20px 170px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: var(--background-color);
    padding: 20px 0;
    border-top: 1px solid var(--border-color);
}

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-top-left p {
    font-size: 15px;
    color: var(--text-color);
    font-weight: 500;
}

.footer-top-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.footer-email-input {
    display: flex;
    gap: 15px;
    padding: 10px 20px;
    border-radius: 40px;
    background: var(--card-background);
    padding-right: 60px;
    border: 1px solid var(--border-color);
}

.footer-email-input input {
    outline: none;
    border: none;
    background: var(--card-background);
    color: var(--text-color);
    font-family: var(--font-primary);
    font-size: 15px;
    font-weight: 500;
}

.footer-subscribe {
    font-size: 15px;
    padding: 10px 20px;
    border-radius: 45px;
    background: linear-gradient(270deg, var(--card-background) -5.09%, var(--hover-color) 106.28%);
    color: var(--text-color);
    cursor: pointer;
    transition: 0.3s;
    border: 1px solid var(--border-color);
    font-weight: 500;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    color: var(--text-color);
    margin-top: 10px;
    font-weight: 500;
}

.footer-bottom-left {
    color: var(--text-color);
}

.footer-bottom-right {
    display: flex;
    gap: 30px;
}

.footer-email-input:hover {
    border: 1px solid var(--text-color);
}

.footer-subscribe:hover {
    transform: scale(1.1);
    background: linear-gradient(270deg, var(--hover-color) -5.09%, var(--card-background) 106.28%);
}

hr {
    border: none;
    height: 1px;
    background-color: var(--border-color);
    margin: 10px 0;
}

.footer-top-left p, .footer-bottom, .footer-email-input input, .footer-subscribe {
    font-size: 12px;
}

@media(max-width: 768px) {
    .footer {
        margin: 20px;
    }
    
    .footer-top {
        flex-direction: column;
        gap: 20px;
        text-align: center;
    }
    
    .footer-bottom {
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }
    
    .footer-bottom-right {
        flex-direction: column;
        gap: 15px;
    }
    
    .footer-email-input {
        width: 100%;
        justify-content: center;
    }
    
    .footer-top-left p, .footer-bottom, .footer-email-input input, .footer-subscribe {
        font-size: 13px;
    }
}